@import url(reset.css);
@import url(./globalStyles.css);

body {
    font-family: var(--font-primary);
}

/* HEADER */

header {
    background-color: var(--gray-1);
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: var(--text-4-weight);
    font-size: var(--text-4-size);
    line-height: var(--text-4-height);
    background-color: var(--gray-1);
    color: var(--gray-7);
    width: 16.625rem;
    height: 3.75rem;
    border: 0.0625rem solid var(--gray-7);
}

/* BANNER */

.banner {
    background-color: var(--gray-2);
}

.banner__container {
    max-width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    justify-content: space-around;
    padding-top: 15rem;
    padding-bottom: 15rem;
    margin: 0 auto;
}

.banner__container h1 {
    font-weight: var(--title-1-weight);
    font-size: var(--title-1-size);
    line-height: var(--title-1-height);
    color: var(--gray-6);
}

.banner__span {
    color: var(--brand-1);
}

.banner__container p {
    font-weight: var(--text-1-weight);
    font-size: var(--text-1-size);
    line-height: var(--text-1-height);
    color: var(--gray-4);
    text-align: center;
    width: 48.125rem;
    overflow: hidden;
}

.banner__container button {
    display: flex;
    height: 3.75rem;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 0.0625rem solid var(--brand-1);
    background-color: var(--brand-1);
    font-weight: var(--text-4-weight);
    font-size: var(--text-4-size);
    line-height: var(--text-4-height);
    color: var(--gray-7);
}

#banner__container button:hover {
    border: 0.625rem solid var(--brand-2, #364FC7);
    background: var(--brand-2, #364FC7);
}

/* ABOUT */

.about {
    height: 17.75rem;
    width: 100%;
    background-color: var(--gray-1);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.about__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    gap: 3.5rem;
    margin: 0 auto;
    width: 90%;
}

.about h2 {
    font-weight: var(--title-2-weight);
    font-size: var(--title-2-size);
    line-height: var(--title-2-height);
    color: var(--gray-6);
    width: 38.75rem;
}

.about p {
    font-weight: var(--text-1-weight);
    font-size: var(--text-1-size);
    line-height: var(--text-1-height);
    color: var(--gray-5);
    text-align: justify;
    width: 36.25rem;
}

/* FAQ */

.doubts {
    max-width: 100%;
    background-color: var(--gray-2);
}

.doubts__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 4rem 0 4rem 6rem;
}

.doubts__container h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: var(--title-2-weight);
    font-size: var(--title-2-size);
    line-height: var(--title-2-height);
    color: var(--gray-6);
    margin-bottom: 2rem;
    margin: 0 auto;
}

.doubts__container h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--title-3-weight);
    font-size: var(--title-3-size);
    line-height: var(--title-3-height);
    color: var(--gray-6);
    white-space: nowrap;
    margin-bottom: 2rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.doubts__container p {
    font-weight: var(--text-1-weight);
    font-size: var(--text-1-size);
    line-height: var(--text-1-height);
    color: var(--gray-4);
    text-align: justify;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.doubts__container__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.doubts__container button {
    display: flex;
    width: 16.625rem;
    height: 3.75rem;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 0.0625rem solid var(--brand-1, #4C6EF5);
    background: var(--brand-1, #4C6EF5);
    font-weight: var(--text-4-weight);
    font-size: var(--text-4-size);
    line-height: var(--text-4-height);
    color: var(--gray-7);
    white-space: nowrap;
}

.doubts__container button:hover {
    border: 0.0625rem solid var(--brand-2, #364FC7);
    background: var(--brand-2, #364FC7);
}

.doubts__position {
    position: sticky;
    top: 10rem;
}

button:hover {
    cursor: pointer;
}

/* reviews */

.reviews__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    align-content: space-between;
    gap: 3rem;
    margin: 0 auto;
    background-color: var(--gray-2);
    align-items: baseline;
    padding-inline: 20rem;
}

.reviews__names {
    display: flex;
    flex-direction: column;
    width: 10rem;
    /* Defina a largura desejada para os nomes */
    flex: 1;
}

.reviews__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.reviews__names p {
    font-weight: var(--text-3-weight);
    font-size: var(--text-3-size);
    line-height: var(--text-3-height);
    color: var(--gray-4);
    white-space: nowrap;
}

.reviews__names h3 {
    font-weight: var(--title-3-weight);
    font-size: var(--title-3-size);
    line-height: var(--title-3-height);
    color: var(--gray-6);
    white-space: nowrap;
    width: 8rem;
}

.reviews__text {
    font-weight: var(--text-2-weight);
    font-size: var(--text-2-size);
    line-height: var(--text-2-height);
    color: var(--gray-5);
    text-align: justify;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
}

.reviews__frame {
    display: flex;
    flex-direction: column;
    background: var(--brand-1, #4C6EF5);
    width: 20rem;
    height: 18rem;
    margin-left: 3.5rem;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 9.375rem;
}

.reviews__frame p {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: var(--text-1-weight);
    font-size: var(--text-1-size);
    line-height: var(--text-1-height);
    color: var(--gray-7);
    text-align: justify;
    width: 100%;
    height: 15rem;
    width: 20rem;
    padding-bottom: 2rem;
}

.reviews__frame h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: var(--title-2-weight);
    font-size: var(--title-2-size);
    line-height: var(--title-2-height);
    color: var(--gray-7);
    text-align: center;
    padding-top: 2rem;
}

.reviews {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    align-items: center;
    gap: 8rem;
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 50rem;
}

/* FOOTER */

footer {
    height: 6.375rem;
    background-color: var(--gray-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    fill: var(--gray-6, #EDF2FF);
}

/* MODAL */

#modalController {
    max-width: 100%;
    width: 464px;
    height: 24.25rem;
    border: 0.125rem solid var(--brand-1, #4C6EF5);
    background: var(--gray-2, #212529);
    padding: 1.75rem;
}

.modal__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#modal__title {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

#modal__title h3 {

    font-weight: var(--title-3-weight);
    font-size: var(--title-3-size);
    line-height: var(--title-3-height);
    color: var(--gray-7);
}

#modal__title button {
    display: flex;
    width: 2.375rem;
    height: 2rem;
    display: flex;
    padding: 0 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--gray-4);
    background-color: var(--gray-3);
    border-radius: 0.25rem;
    border: none;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.modal__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27.687rem;
    height: 3.75rem;
    border: 0.0625rem solid var(--brand-1, #4C6EF5);
    background: var(--brand-1, #4C6EF5);
    font-weight: var(--text-4-weight);
    font-size: var(--text-4-size);
    line-height: var(--text-4-height);
    color: var(--gray-7);
}

.modal__button:hover {
    border: 0.0625rem solid var(--brand-2, #364FC7);
    background: var(--brand-2, #364FC7);
}

dialog::backdrop {
    background: rgba(25, 28, 31, 0.80);
}

.modal__content input {
    display: flex;
    width: 27.687rem;
    height: 3.625rem;
    border: 0.0625rem solid var(--gray-1, #191C1F);
    background: var(--gray-1, #191C1F);
    font-weight: var(--text-1-weight);
    font-size: var(--text-1-size);
    line-height: var(--text-1-height);
    color: var(--gray-4);
}

.modal__content input:focus {
    outline: 0.0625rem solid var(--brand-1, #4C6EF5);
    background: var(--gray-2, #212529);
}

.modal__content p {
    display: flex;
    font-weight: var(--text-3-weight);
    font-size: var(--text-3-size);
    line-height: var(--text-3-height);
    color: #CED4DA;
    text-align: justify;
    width: 27.687rem;
}

@media (max-width: 1024px) {


    body {
        width: 100%;
    }

    header {
        border: 2px solid var(--brand-1, #4C6EF5);
        box-sizing: border-box;
        width: 100%;
        overflow-x: hidden;
    }

    .banner__container h1 {
        text-align: center;
    }

    .doubts__container {
        display: flex;
        justify-content: center;
        align-content: baseline;
        padding-top: 4rem;
        width: 90%;

    }

    .doubts__position {
        max-width: 100%;
        ;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .doubts__position p {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .doubts__position h3 {
        width: 100%;
        white-space: nowrap;
    }

    .doubts__container__column {
        margin-left: 5rem;
    }

    .reviews__container {
        align-content: baseline;
    }

    .reviews__container {
        padding-inline: 5rem;
    }

    .reviews__column {
        display: flex;
        flex-direction: column;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .reviews__names {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

}

@media (max-width: 768px) {
    body {
        width: 768px;
        /* Define a largura desejada */
        margin: 0 auto;
        /* Centraliza o conteúdo horizontalmente na tela */
        overflow-x: hidden;
    }

    .about__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .about h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
    }

    .about p {
        padding: 0;
    }

    .doubts__position {
        display: flex;
        position: static;
        width: 90%;
        padding-top: 5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    .doubts__position button {
        width: 45rem;
    }

    .doubts__container p {
        padding-bottom: 1rem;
        width: 100%;
    }

    .doubts__container {
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 0;
        width: 95%;
    }

    .doubts__container__column {
        margin: 0;
        width: 768px;
        padding-top: 5rem;
    }

    .doubts__container h2 {
        padding-bottom: 1rem;
        display: flex;
        text-align: center;
    }

    .doubts__container__column h3 {
        padding-bottom: 1rem;
    }

    .doubts__container__column p {

        padding-bottom: 1rem;
    }

    .reviews__frame {
        position: static;
        width: 100%;
        margin: 0;
        display: flex;
        text-align: center;
        padding: 0;
    }

    .reviews__frame p,
    .reviews__frame h2 {
        display: flex;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        text-align: justify;
    }

    .reviews__container {
        flex-direction: column-reverse;
        max-width: 48rem;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .reviews__text {
        width: 70%;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 2rem;
    }

    .reviews__names {
        width: 70%;
        justify-content: flex-start;
    }
}

@media (max-width: 425px) {


    /*HEADER */
    header {
        border: 2px solid var(--brand-1, #4C6EF5);
        height: 4rem;
        box-sizing: border-box;
        width: 100%;
        overflow-x: hidden;
    }


    header img {
        max-width: 100%;
        margin-right: auto;
        padding-left: 2rem;
    }


    .showMessage {
        display: none;
    }

    .banner__container {
        max-width: 100%;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .banner__container p {
        width: 100%;
    }

    .about__container {
        padding-top: 3rem;
    }

    .about__container p {
        width: 100%;
    }

    .doubts__container__column {
        width: 100%;
    }

    .doubts__container__column p {
        width: 100%;
    }

    .doubts__position {
        width: 100%;
    }

    .doubts__position button {
        width: 100%;
    }

    .reviews__text {
        width: 100%;
    }

    .reviews__names {
        width: 100%;
        gap: 0.5rem;
    }

    #modalController {
        width: 60%;
        height: 25%;
        text-align: center;
    }

    .modal__Container {
        width: 100%;
        height: 80%;
        margin: 0 auto;
    }

    .modal__content {
        width: 100%;
    }

    .modal__content input {
        width: 100%
    }

    .modal__content p {
        width: 100%;
    }

    .modal__content button {
        width: 100%;
    }

    #closeModal {
        width: 10px;
    }

    #modal__title {
        width: 100%;
    }
}